.accept {
    /* margin-top: 200px;
    margin-right: 10px; */
      color: white;
      font-size: 20px;
      background-color: rgb(14, 180, 42);
      width: 100px;
      height: 200px;
      border-radius: 100px;
    }