

.ProfileImg {
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 15px;
      background-color: rgb(77, 159, 184);
      width: 200px;
      height: 200px;
      border-radius: 50px;
}