h1 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(16, 16, 119);
  background-color: green;
}
h3 {
  background-color: transparent;
  color: white;
}
.secTwo {
  display: flex;
  justify-content: center;
  
}
.draftList {
display: flexbox;
justify-content: left;
}
.playerCard {
  text-align: center;
  margin: 10px;
  height: 900px;
  width: 1000px;
  background-color: orange;
  border: solid 25px rgb(61, 59, 59);
  
}

.statistics {
  margin: 10px;
  height:578px;
  width: 980px;
  background-color:grey;
  margin-top: 8px;
  color: white;
  font-size: 3rem;
}

.label {
  font-size: 50px;
  margin: 10px;
  color: rgb(61, 59, 59);
}